.container{
    width:400 px;
    height:100 px;
    font-family:'Times New Roman', Times, serif;
    display:flex;
}
.box{
    border: 2px solid red;
    margin:10 px 0;
}
    





























































































